body {
  font-family: 'Luminari', 'fantasy', cursive;
  font-size: large;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 5ch;
  font-weight: 500;
}

.container {
  margin:0 auto;
  position: fixed;
  background-color: orange;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.delete-all {
  background-color: black;
  border: none;
  color: white;
  margin-bottom: 25px;
}

.delete-todo {
  font-size: small;
  text-align: center;
  background-color: red;
  margin-left: auto;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  line-height: 20px;
}

.tab-links-pagination {
  background-color: black;
  color: white;
  border-radius: 50%; 
  width: 50px; 
  height: 50px; 
  margin: 0 5px 25px;
}

.active {
  background-color: red;
  color: white;
}

.text-on-todo {
  margin-left: 20px;
  word-break: break-all;
}

.text-on-todo-hidden {
  width: 100%; 
  height: 100%; 
  display: block;
  margin-left: 20px;
}

.list-group-item {
  display: flex;
  align-items: center;
  flex: 1; 
  word-wrap: break-word; 
  width: 850px;
}

.tab-links {
  border: none;
  background-color: black;
  color: white;
  margin-bottom: 25px;
}

.active-colored {
background-color: red;
color: white;
}

#todo-list {
  margin-bottom: 25px;
}

#input {
  margin-bottom: 25px;
}

#pagination-list {
  background-color: transparent;
  width: max-content;
}

#add-todo {
  background-color: black;
  color: white;
  border: none;
}